@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #10172a;
}
img, .boxtext{
    margin: 10px 0;
}

body{
}

#templateDetalles img {
    width: 150px;
}
#templateDetalles .imgCoat{
    width: 120px;
}

#templateDetalles .containerDetalles{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;

}

#templateDetalles .card{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#templateDetalles .column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#templateDetalles .boxtext{
    width: 80%;
}

#templateDetalles .column-mid{
    border: none;
    border-top: 2px solid #4E73DF;
    border-bottom: 2px solid #4E73DF;
}


@media (min-width: 850px){
    #templateDetalles .containerDetalles{
        /* flex-direction: row; */
    }
    #templateDetalles .card{
        display: flex;
        flex-direction: row;
        align-items: center;

    }
    #templateDetalles .column-mid{
        border-top: none;
        border-bottom: none;
        border-left: 2px solid #4E73DF;
        border-right: 2px solid #4E73DF;
    }
    #templateDetalles .column{
        width: 100%;
    }
    #templateDetalles img{
        width: 220px;
        margin: 0 50px;
    }
    #templateDetalles .boxtext{
        width: 80%;
        margin: 60px 0;
    }
}